extends layout.jade
block body
    include ./header.jade
        .container
            .jumbotron
                a.btn.btn-lg(href='/weather') Go Back
                br
                img(src='#{srcurl}') 
                h3 #{desc}
                h2 #{city}
                h3 Today' Date: #{todayDate}
                h3 Rite now: #{weather} °F
                h4 Sun Rise: #{sunrise}
                h4 Sun Set: #{sunset}