extends layout.jade
block body
    include ./header.jade
        .container
            .jumbotron
                a.btn.btn-lg#goBack(href='/weather') Go Back
                br
                img(src='#{srcurl}') 
                h3#weather #{desc}
                h2#city #{city}
                h3#todatDate Today' Date: #{todayDate}
                h3#tempFar Rite now: #{weather} °F
                h4#sunRise Sun Rise: #{sunrise}
                h4#sunSet Sun Set: #{sunset}